#content {
    border: 1px solid #f1f1f1;
}

.button {
    background: tomato;
    border-radius: 5px;
    margin-left: 20px;
    border: none;
    color: white;
    padding: 10px;
    font: sans-serif;
}

.taskElement {
    padding: 0.9375rem 1.25rem;
    background: #f1f1f1;
    text-align: center;
    justify-content: center;
}

.links {
    background: lightseagreen;
    padding: 20px;
    font-size: 1.25rem;
    text-align: center;
    justify-content: center;
}

.links a {
    color: #ffffff;
    padding: 1.25rem 0.3125rem;
}

.taskform {
    padding: 1.25rem;
    text-align: center;
    justify-content: center;
    background: #f1f1f1;
}

.taskform input {
    background: #ffffff;
    border: none;
    border-radius: 0.3125rem;
    width: 21.875rem;
    height: 1.5625rem;
}

.taskform textarea {
    background: #ffffff;
    border: none;
    border-radius: 0.3125rem;
    width: 21.875rem;
    height: 4.6875rem;
}

.taskform button {
    margin: 0.3125rem;
    cursor: pointer;
    color: #ffffff;
    background: lightseagreen;
    border: none;
    border-radius: 0.3125rem;
    width: 21.875rem;
    height: 1.5625rem;
}
